// Fonts
$font-family-base:					  'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight:        300;
$headings-line-height:        1;

$body-color:                #212529;


// Colors
$primaryColor_light:          #F0EEE1;
$primaryColor_dark:           #4C423D;
$bg_footerColor:              #C5C4BA;

// Border radius
$border-radius:               0rem;
$border-radius-lg:            0rem;
$border-radius-sm:            0rem;

// Components
$component-active-bg:         $primaryColor_light;

// Links
$link-color:                  inherit;
$link-decoration:             underline;
$link-hover-color:            inherit;