// Colors
$primaryColor_light:                #F0EEE1;
$primaryColor_dark:                 #4C423D;
$bg_footerColor:                    #C5C4BA;

// Border radius
$border-radius:               0rem;
$border-radius-lg:            0rem;
$border-radius-sm:            0rem;
