.worksListZone {
    padding-bottom: 90px;
    .titleSection {
        padding: 15px;
        margin: 35px 0 30px;
        letter-spacing: $title-letter-spacing;
        @include media-breakpoint-down(sm) {
            font-size: 1.5rem;
        }
    }
    .workZone {
        position: relative;
        display: block;
        @include media-breakpoint-down(sm) {
            margin-left: -15px;
            margin-right: -15px;
        }
        .workNameZone {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            .workName {
                margin: 3vw;
                font-size: 5vw;
                font-weight: 700;
                text-shadow: 0 0 0px rgba(0,0,0,0);
                transition: all 0.2s ease-in;
                @include media-breakpoint-up(sm) {
                    font-size: 2rem;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 3rem;
                }
                &.light, &.dark {
                    transition: all 0.2s ease-in;
                }
                &.light {
                    color: $primaryColor_light;
                }
                &.dark {
                    color: $primaryColor_dark;
                }
            }
        }
        .pictureZone {
            .picture {
                width: 100%;
            }
            &:after {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba($primaryColor_dark, .0);
                top: 0;
                left: 0;
                transition: all 0.2s ease-out;
            }
        }
        &:hover {
            .workName {
                &.light, &.dark {
                    color: $primaryColor_light;
                    transition: all 0.2s ease-out;
                }
                margin-bottom: 5vw;
                text-shadow: 0 0 15px rgba(0,0,0,1);
                transition: all 0.2s ease-in;
            }
            .pictureZone:after {
                transition: all 0.2s ease-in;
                background: rgba(#000, .55);
            }
        }
    }
}